<div class="flex justify-center items-center h-screen">
    <form>
        <div class="mt-5 ml-5">
            <ui-label for="email">Email</ui-label>
            <!-- <input id="email" type="email" [(ngModel)]="email" name="email"> -->
            <ui-input [(ngModel)]="email" name="email" placeholder="email@example.com"></ui-input>
        </div>
        <div class="mt-5 ml-5">
            <ui-label for="password">Password</ui-label>
            <ui-input type="password"></ui-input>
        </div>
        <div class="mt-5 ml-5">
            <ui-button (click)="signIn()" type="submit">Sign In</ui-button>
        </div>
    </form>
</div>